---
import '../styles/global.css'

const pageTitle = "私について"

const identity = {
	name: "tomochan",
	country: "日本",
	occupation: "会社員",
	hobbies: ["コーヒー","筋トレ"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "ドキュメントの執筆"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
        <a href="/astro-portfolio">ホーム</a>
        <a href="/astro-portfolio/about/">概要</a>
        <a href="/astro-portfolio/blog/">ブログ</a>
		<h1>{pageTitle}</h1>
        <h2>... そして私の新しいAstroサイトについて！</h2>

        <p>私はAstroの入門チュートリアルを進めています。これは私のWebページの2番目のページで、自分で初めて作ったページです！</p>

		<p>以下は私に関するいくつかの情報です。</p>
		<ul>
			<li>私の名前は{identity.name}です。</li>
			<li>{identity.country}に住んでおり、{identity.occupation}として働いている。</li>
			{identity.hobbies.length >= 2 &&
				<li>私の趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
			}
		</ul>
		<p>私のスキルは以下の通りです。</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}

		{finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}
	</body>
</html>
